.tess_img {
  display: flex;
  height: 300px;
  length: 600px;
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  width: 100px;
  margin: 50px;

}


.tess1 {
align-items: center;
text-align: left;
/* margin-left: 500px */
}

.tess2 {
  justify-content: space-between;
  margin-left: 725px;
  text-align: right;
}

.lc_examples {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 900px ;

}
.lc1 {
  justify-content: space-between;
}
.lc2 {
  justify-content: space-between;

}
.lc_examples .lcp {
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  width: 20em;
}
/* footer {
  display: flex;
  color: rgb(255,255,255);
  justify-content: center;


} */
